spring:
  application:
    name: UserService
  datasource:
    url: jdbc:mysql://localhost:3306/petshop
    username: root
    password: root
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  config:
    import: configserver:http://localhost:8082
  security:
    oauth2:
      resourceserver:
        issuer-uri: https://dev-atfpp36qj24tzo8l.us.auth0.com/

server:
  port: 8085
