spring:
  application:
    name: UserService
  datasource:
    url: jdbc:mysql://${DB_URL:localhost:3306}/petshop
    username: root
    password: root
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: false
  sql:
    init:
      mode: never
  config:
    import: configserver:http://${CONFIG_SERVER_URL:localhost:8082}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-atfpp36qj24tzo8l.us.auth0.com/

server:
  port: 8085
